%h1 Redline
%p.lead Quick and simple art feedback

%p Select the image you'd like to receive feedback on.
%form{action: '/upload', method: 'POST', enctype: 'multipart/form-data'}
  %input{type: 'file', name: 'image', accept: 'image/*'}
  %button Get Feedback

%p
  Images must be less than 5MB in size.
  %br
  Uploads and redlines will be deleted after one week.
  %br
  If you have any questions or comments, email
  %a{href: 'mailto:contact@nullref.net'} contact@nullreff.net
